data/flows.json
[{"id":"1f115dbb.b55aa2","type":"tab","label":"RPI: GPIO","disabled":false,"info":""},{"id":"fa13e7e1.cb7a18","type":"tab","label":"RPI: Облако","disabled":false,"info":""},{"id":"5975f094.53932","type":"tab","label":"HomeKit тест","disabled":false,"info":""},{"id":"ece9031d.299bb","type":"tab","label":"Wiren Board","disabled":false,"info":""},{"id":"9712e98522260239","type":"tab","label":"Home Assistant","disabled":false,"info":""},{"id":"c4c2ca39.c01f78","type":"group","z":"1f115dbb.b55aa2","name":"","style":{"label":true},"nodes":["c6d686f5.a81978","92820aba.4d0668","5df4ba14.cf5124","3a8c4ae7.2bf2d6","bea8b00b.d044e","ef1986c5.4018c8"],"x":784,"y":1499,"w":572,"h":262},{"id":"6fb4b9ae.bc29b8","type":"group","z":"fa13e7e1.cb7a18","name":"RPI: Облако","style":{"label":true,"stroke":"#3f93cf","fill":"#bfdbef","color":"#001f60"},"nodes":["140ea59.8c0fc5a","a5411d97.c5b11","e0062e88.2f10a","c8c6071b.396728","6568109b.eaf2a","24dbeb13.c678c4","f37eb765.a759b8","7bc74159.49264"],"x":34,"y":59},{"id":"4a172910.632898","type":"group","z":"5975f094.53932","name":"Управление виртуальной лампочкой, созданной в Node-Red","style":{"label":true},"nodes":["3c9f8969.287166","2cd836b5.7482fa","f6dce9cd.3fdf88","7a5acd41.42a334"],"x":794,"y":99},{"id":"e2b4bb3c.b80a98","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"42968284.a14bfc","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"87de77d1.82a0d8","type":"ui_group","name":"Default","tab":"e2b4bb3c.b80a98","order":1,"disp":true,"width":"20","collapse":false},{"id":"cf2fe171.40162","type":"ui_group","name":"Multi Bubble","tab":"8edb4c27.94fea","order":1,"disp":true,"width":"6"},{"id":"8edb4c27.94fea","type":"ui_tab","name":"Bubbles","icon":"dashboard"},{"id":"4874ccfd.a65b44","type":"mqtt-broker","name":"mosquitto raspberry","broker":"192.168.88.104","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"9f421ae3.532178","type":"homekit-bridge","bridgeName":"node-red","pinCode":"031-45-154","port":"","allowInsecureRequest":true,"manufacturer":"NRCHKB","model":"1.2.0","serialNo":"Default Serial Number","firmwareRev":"1.2.0","hardwareRev":"1.2.0","softwareRev":"1.2.0","customMdnsConfig":false,"mdnsMulticast":true,"mdnsInterface":"","mdnsPort":"","mdnsIp":"","mdnsTtl":"","mdnsLoopback":true,"mdnsReuseAddr":true,"allowMessagePassthrough":true},{"id":"11b32c1b.ed26f4","type":"hb-conf","username":"031-45-154"},{"id":"31f20954.c5e1b6","type":"wirenboard-server","name":"","host":"192.168.88.101","mqtt_port":"1883","mqtt_username":"","mqtt_password":""},{"id":"e89c25a5.7df6c8","type":"mqtt-broker","name":"Wiren Board","broker":"192.168.88.101","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"6e135e11.dc16a","type":"debug","z":"1f115dbb.b55aa2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":520,"wires":[]},{"id":"8f7e35c6.d421a8","type":"rpi-sensehatsim in","z":"1f115dbb.b55aa2","d":true,"name":"","motion":false,"env":true,"stick":true,"x":100,"y":700,"wires":[["86536219.c6c91"]]},{"id":"abd5b0ac.f58f6","type":"rpi-sensehatsim out","z":"1f115dbb.b55aa2","name":"","x":570,"y":720,"wires":[]},{"id":"398294bf.1710dc","type":"inject","z":"1f115dbb.b55aa2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0,0,red,0,7,#00ff00,7,7,yellow,7,0,0,0,255","payloadType":"str","x":350,"y":820,"wires":[["abd5b0ac.f58f6","6e135e11.dc16a"]]},{"id":"a6446cf.29b409","type":"inject","z":"1f115dbb.b55aa2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":470,"y":920,"wires":[["50ade207.772c3c"]]},{"id":"8103660c.11e1a8","type":"inject","z":"1f115dbb.b55aa2","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":470,"y":1000,"wires":[["50ade207.772c3c"]]},{"id":"5a8ba72a.c9df98","type":"debug","z":"1f115dbb.b55aa2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":990,"y":1100,"wires":[]},{"id":"86536219.c6c91","type":"delay","z":"1f115dbb.b55aa2","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":390,"y":580,"wires":[["6e135e11.dc16a"]]},{"id":"77f0692e.748398","type":"function","z":"1f115dbb.b55aa2","name":"смена значений","func":"msg.payload = !msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":1080,"wires":[[]]},{"id":"34da0da8.886412","type":"function","z":"1f115dbb.b55aa2","name":"","func":"if (msg.payload === 1) {\n    return [msg, {payload: 0}];\n} else {\n    return [msg, {payload: 1}];\n}\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":440,"y":1260,"wires":[["5a8ba72a.c9df98","50ade207.772c3c"],["51851fba.77a84"]]},{"id":"b1f9deeb.db7ad","type":"inject","z":"1f115dbb.b55aa2","d":true,"name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":430,"y":1360,"wires":[["33a67e80.d5e512"]]},{"id":"188bef09.5f4a51","type":"ui_slider","z":"1f115dbb.b55aa2","d":true,"name":"","label":"slider","tooltip":"","group":"87de77d1.82a0d8","order":0,"width":0,"height":0,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":"100","step":1,"x":340,"y":1440,"wires":[["4bf7acd.e27f954"]]},{"id":"33a67e80.d5e512","type":"function","z":"1f115dbb.b55aa2","name":"","func":"flow.shimCurrent = flow.shimCurrent || 0;\nflow.shimCurrent++;\nif (flow.shimCurrent > 100) flow.shimCurrent = 0;\nmsg.payload = flow.shimCurrent;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":1360,"wires":[["4bf7acd.e27f954"]]},{"id":"c6d686f5.a81978","type":"ui_switch","z":"1f115dbb.b55aa2","d":true,"g":"c4c2ca39.c01f78","name":"","label":"Солнышко 1","tooltip":"","group":"87de77d1.82a0d8","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":890,"y":1540,"wires":[["92820aba.4d0668"]]},{"id":"5df4ba14.cf5124","type":"ui_switch","z":"1f115dbb.b55aa2","d":true,"g":"c4c2ca39.c01f78","name":"","label":"Солнышко 2","tooltip":"","group":"87de77d1.82a0d8","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":900,"y":1620,"wires":[["3a8c4ae7.2bf2d6"]]},{"id":"bea8b00b.d044e","type":"ui_switch","z":"1f115dbb.b55aa2","d":true,"g":"c4c2ca39.c01f78","name":"","label":"Солнышко 3","tooltip":"","group":"87de77d1.82a0d8","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":880,"y":1700,"wires":[["ef1986c5.4018c8"]]},{"id":"140ea59.8c0fc5a","type":"ui_template","z":"fa13e7e1.cb7a18","g":"6fb4b9ae.bc29b8","group":"87de77d1.82a0d8","name":"Облачко","order":4,"width":0,"height":0,"format":"<div class=\"content\">\n    <div class=\"cloud\">\n        <div id=\"output\">&nbsp;</div>\n        <div ng-class=\"{'drop': !0, 'activeDrop': msg.payload['21'] === '1'}\" ng-click=\"send({payload: '21', topic: 'home/output/21/set'})\" id=\"light21\" style=\"left: 150px; top: 336px;\"></div>\n        <div ng-class=\"{'drop': !0, 'activeDrop': msg.payload['12'] === '1'}\" ng-click=\"send({payload: '12', topic: 'home/output/12/set'})\" id=\"light12\" style=\"left: 297px; top: 354px;\"></div>\n        <div ng-class=\"{'drop': !0, 'activeDrop': msg.payload['10'] === '1'}\" ng-click=\"send({payload: '10', topic: 'home/output/10/set'})\" id=\"light10\" style=\"left: 423px; top: 320px;\"></div>\n        <div ng-class=\"{'drop': !0, 'activeDrop': msg.payload['17'] === '1'}\" ng-click=\"send({payload: '17', topic: 'home/output/17/set'})\" id=\"light17\" style=\"left: 571px; top: 348px;\"></div>\n        <div ng-class=\"{'drop': !0, 'activeDrop': msg.payload['14'] === '1'}\" ng-click=\"send({payload: '14', topic: 'home/output/14/set'})\" id=\"light14\" style=\"left: 687px; top: 335px;\"></div>\n        <div ng-class=\"{'drop': !0, 'activeDrop': msg.payload['26'] === '1'}\" ng-click=\"send({payload: '26', topic: 'home/output/26/set'})\" id=\"light26\" style=\"left: 259px; top: 237px;\"></div>\n        <div ng-class=\"{'drop': !0, 'activeDrop': msg.payload['24'] === '1'}\" ng-click=\"send({payload: '24', topic: 'home/output/24/set'})\" id=\"light24\" style=\"left: 451px; top: 224px;\"></div>\n        <div ng-class=\"{'drop': !0, 'activeDrop': msg.payload['15'] === '1'}\" ng-click=\"send({payload: '15', topic: 'home/output/15/set'})\" id=\"light15\" style=\"left: 621px; top: 246px;\"></div>\n        <div ng-class=\"{'drop': !0, 'activeDrop': msg.payload['18'] === '1'}\" ng-click=\"send({payload: '18', topic: 'home/output/18/set'})\" id=\"light18\" style=\"left: 534px; top: 144px;\"></div>\n        <div ng-class=\"{'light': !0, 'activeLight': msg.payload['16'] === '1'}\" ng-click=\"send({payload: '16', topic: 'home/output/16/set'})\" id=\"light16\" style=\"left: 73px; top: 129px;\"></div>\n        <div ng-class=\"{'light': !0, 'activeLight': msg.payload['19'] === '1'}\" ng-click=\"send({payload: '19', topic: 'home/output/19/set'})\" id=\"light19\" style=\"left: 138px; top: 24px;\"></div>\n        <div ng-class=\"{'light': !0, 'activeLight': msg.payload['13'] === '1'}\" ng-click=\"send({payload: '13', topic: 'home/output/13/set'})\" id=\"light13\" style=\"left: 258px; top: 1px;\"></div>\n        <div ng-class=\"{'button': !0, 'activeButton': msg.payload['2'] === '1'}\" id=\"button2\" style=\"left: 857px; top: 356px;\"></div>\n        <div ng-class=\"{'button': !0, 'activeButton': msg.payload['3'] === '1'}\" id=\"button3\" style=\"left: 635px; top: 121px;\"></div>\n        <div ng-class=\"{'button': !0, 'activeButton': msg.payload['4'] === '1'}\" id=\"button4\" style=\"left: 545px; top: 53px;\"></div>\n        <div ng-class=\"{'button': !0, 'activeButton': msg.payload['8'] === '1'}\" id=\"button8\" style=\"left: 425px; top: 53px;\"></div>\n    </div>\n</div>\n\n<style>\n    .head {\n            width: 50%;\n            margin: 0 auto;\n            text-align: center;\n    }\n    .content {\n            margin: 0 auto;\n    }\n    .cloud {\n            width: 889px;\n            height: 519px;\n            margin: 0 auto;\n            position: relative;\n            background-image: url('/images/contour.png');\n            background-repeat: no-repeat;\n            background-position: 50% 100%;\n    }\n    .drop {\n            width: 28px;\n            height: 28px;\n            border: 2px solid;\n            border-radius: 16px;\n            background-color: #DDF;\n            position: absolute;\n    }\n    .activeDrop {\n            background-color: #33F;\n            cursor: pointer;\n    }\n    #output {\n            width: 350px;\n            text-align: center;\n            font-size: 30px;\n            color: #555;\n            margin: 0 auto;\n    }\n    .light {\n            width: 24px;\n            height: 83px;\n            background-color: #FC9;\n            position: absolute;\n    }\n    .activeLight {\n            background-color: #DA0;\n            cursor: pointer;\n    }\n    .button {\n            width: 35px;\n            height: 20px;\n            background-color: #DDD;\n            position: absolute;\n            border: 3px solid;\n            border-radius: 9px;\n            border-color: #BBB;\n    }\n    .activeButton {\n            background-color: #888;\n            border-color: #555;\n            cursor: pointer;\n    }\n    #button2 {\n            transform: rotate(90deg);\n    }\n    #button3 {\n            transform: rotate(54deg);\n    }\n    #button4 {\n            transform: rotate(18deg);\n    }\n    #button8 {\n            transform: rotate(341deg);\n    }\n    #light16 {\n            transform: rotate(98.4deg);\n    }\n    #light19 {\n            transform: rotate(145.4deg);\n    }\n    #light13 {\n            transform: rotate(192deg);\n    }\n</style>\n\n","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","x":580,"y":100,"wires":[["6568109b.eaf2a"]]},{"id":"a5411d97.c5b11","type":"mqtt out","z":"fa13e7e1.cb7a18","g":"6fb4b9ae.bc29b8","name":"","topic":"","qos":"","retain":"","broker":"4874ccfd.a65b44","x":1010,"y":180,"wires":[]},{"id":"e0062e88.2f10a","type":"mqtt in","z":"fa13e7e1.cb7a18","g":"6fb4b9ae.bc29b8","name":"","topic":"home/output/#","qos":"2","datatype":"auto","broker":"4874ccfd.a65b44","nl":false,"rap":false,"x":140,"y":200,"wires":[["c8c6071b.396728"]]},{"id":"c8c6071b.396728","type":"function","z":"fa13e7e1.cb7a18","g":"6fb4b9ae.bc29b8","name":"Get cached pins state","func":"var pins = ['15', '14', '17', '18', '24', '10', '12', '26', '21', '13', '19', '16', '8', '2', '3', '4'];\nvar cache = flow.get(pins.map(p => 'gpio_' + p));\nmsg.payload = pins.reduce((m, p, i) => {\n    m[p] = cache[i] || '0';\n    return m;\n}, {});\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":100,"wires":[["140ea59.8c0fc5a"]]},{"id":"6568109b.eaf2a","type":"function","z":"fa13e7e1.cb7a18","g":"6fb4b9ae.bc29b8","name":"Save pressed to cache","func":"var key = 'gpio_' + msg.payload;\nvar currentVal = flow.get(key);\nmsg.payload = currentVal === '1' ? '0' : '1';\nflow.set(key, msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":100,"wires":[["a5411d97.c5b11"]]},{"id":"24dbeb13.c678c4","type":"mqtt in","z":"fa13e7e1.cb7a18","g":"6fb4b9ae.bc29b8","name":"","topic":"home/input/#","qos":"2","datatype":"auto","broker":"4874ccfd.a65b44","x":130,"y":300,"wires":[["7bc74159.49264"]]},{"id":"f37eb765.a759b8","type":"function","z":"fa13e7e1.cb7a18","g":"6fb4b9ae.bc29b8","name":"Save input to cache","func":"// console.log('qwe', msg);\nvar key = msg.topic.split('/').slice(-1)[0];\n// msg.payload = {};\nflow.set('gpio_' + key, msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":240,"wires":[["c8c6071b.396728"]]},{"id":"7bc74159.49264","type":"function","z":"fa13e7e1.cb7a18","g":"6fb4b9ae.bc29b8","name":"смена значений","func":"msg.payload = msg.payload === '1' ? '0' : '1';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":340,"wires":[["f37eb765.a759b8"]]},{"id":"7a798691.3b34e8","type":"hb-event","z":"5975f094.53932","name":"node-red-light","Homebridge":"node-red","Manufacturer":"NRCHKB","Service":"Lightbulb","device":"node-red9F:42:1A:E3:53:21NRCHKBnode-red-light00000043","conf":"11b32c1b.ed26f4","x":130,"y":380,"wires":[[]]},{"id":"2a0b2212.e47fee","type":"hb-control","z":"5975f094.53932","name":"node-red-light","Homebridge":"node-red","Manufacturer":"NRCHKB","Service":"Lightbulb","device":"node-red9F:42:1A:E3:53:21NRCHKBnode-red-light00000043","conf":"11b32c1b.ed26f4","outputs":0,"x":700,"y":380,"wires":[]},{"id":"5f5b961e.f2d9b8","type":"function","z":"5975f094.53932","name":"toggle","func":"msg.payload.On = !msg.payload.On;\nreturn {payload: {On: msg.payload.On, Brightness: msg.payload.Brightness}};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":320,"wires":[["2a0b2212.e47fee"]]},{"id":"febb04.e6ec45","type":"inject","z":"5975f094.53932","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":280,"wires":[["a4237ff6.43751"]]},{"id":"a4237ff6.43751","type":"hb-status","z":"5975f094.53932","name":"node-red-light","Homebridge":"node-red","Manufacturer":"NRCHKB","Service":"Lightbulb","device":"node-red9F:42:1A:E3:53:21NRCHKBnode-red-light00000043","conf":"11b32c1b.ed26f4","x":320,"y":280,"wires":[["5f5b961e.f2d9b8"]]},{"id":"dd696cf3.8c8b1","type":"hb-control","z":"5975f094.53932","name":"node-red-light","Homebridge":"node-red","Manufacturer":"NRCHKB","Service":"Lightbulb","device":"node-red9F:42:1A:E3:53:21NRCHKBnode-red-light00000043","conf":"11b32c1b.ed26f4","outputs":0,"x":820,"y":540,"wires":[]},{"id":"e2d49137.5aa8b","type":"inject","z":"5975f094.53932","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":540,"wires":[["f7bbc62.7d40c38"]]},{"id":"f7bbc62.7d40c38","type":"hb-status","z":"5975f094.53932","name":"node-red-light","Homebridge":"node-red","Manufacturer":"NRCHKB","Service":"Lightbulb","device":"node-red9F:42:1A:E3:53:21NRCHKBnode-red-light00000043","conf":"11b32c1b.ed26f4","x":380,"y":540,"wires":[["c2ba6c5e.67b54"]]},{"id":"c2ba6c5e.67b54","type":"function","z":"5975f094.53932","name":"toggle","func":"msg.payload.On = !msg.payload.On;\nreturn {payload: {On: msg.payload.On}};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":540,"wires":[["dd696cf3.8c8b1"]]},{"id":"3c9f8969.287166","type":"homekit-service","z":"5975f094.53932","g":"4a172910.632898","isParent":true,"bridge":"9f421ae3.532178","parentService":"","name":"node-red-light","serviceName":"Lightbulb","topic":"","filter":false,"manufacturer":"NRCHKB","model":"1.2.0","serialNo":"Default Serial Number","firmwareRev":"1.2.0","hardwareRev":"1.2.0","softwareRev":"1.2.0","cameraConfigVideoProcessor":"ffmpeg","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":2,"cameraConfigMaxWidth":1280,"cameraConfigMaxHeight":720,"cameraConfigMaxFPS":10,"cameraConfigMaxBitrate":300,"cameraConfigVideoCodec":"libx264","cameraConfigAudioCodec":"libfdk_aac","cameraConfigAudio":false,"cameraConfigPacketSize":1316,"cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"0:0","cameraConfigMapAudio":"0:1","cameraConfigVideoFilter":"scale=1280:720","cameraConfigAdditionalCommandLine":"-tune zerolatency","cameraConfigDebug":false,"cameraConfigSnapshotOutput":"disabled","cameraConfigInterfaceName":"","characteristicProperties":"{}","waitForSetupMsg":false,"outputs":2,"x":1080,"y":160,"wires":[["2cd836b5.7482fa"],[]]},{"id":"2cd836b5.7482fa","type":"debug","z":"5975f094.53932","g":"4a172910.632898","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1270,"y":160,"wires":[]},{"id":"f6dce9cd.3fdf88","type":"inject","z":"5975f094.53932","g":"4a172910.632898","name":"On","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"On\":true}","payloadType":"json","x":890,"y":180,"wires":[["3c9f8969.287166"]]},{"id":"7a5acd41.42a334","type":"inject","z":"5975f094.53932","g":"4a172910.632898","name":"off","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"On\":false}","payloadType":"json","x":890,"y":140,"wires":[["3c9f8969.287166"]]},{"id":"2629e68f.6a7f4a","type":"wirenboard-in","z":"ece9031d.299bb","name":"1-wire termometers","server":"31f20954.c5e1b6","channel":["/devices/wb-m1w2_224/controls/External Sensor 1","/devices/wb-m1w2_224/controls/External Sensor 2","/devices/wb-m1w2_224/controls/Internal Temperature","/devices/wb-w1/controls/28-01206018a787","/devices/wb-w1/controls/28-3c01d075c755"],"outputAtStartup":false,"x":400,"y":200,"wires":[[]]},{"id":"cd6945f3.51d2b8","type":"debug","z":"ece9031d.299bb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":540,"wires":[]},{"id":"c8dc7282.763b6","type":"mqtt in","z":"ece9031d.299bb","name":"","topic":"/wb/wb-mr6c_42/controls/K3","qos":"0","datatype":"auto","broker":"e89c25a5.7df6c8","x":390,"y":400,"wires":[["e957aabb.7d5458"]]},{"id":"e957aabb.7d5458","type":"wirenboard-out","z":"ece9031d.299bb","name":"","server":"31f20954.c5e1b6","channel":["/devices/wb-mr6c_42/controls/K3"],"command":"/on","commandType":"wb_cmd","payload":"payload","payloadType":"msg","x":790,"y":400,"wires":[]},{"id":"d78eb6cf.7edab8","type":"inject","z":"ece9031d.299bb","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"str","x":360,"y":520,"wires":[["e957aabb.7d5458"]]},{"id":"648b8aba.33ce04","type":"homekit-service","z":"ece9031d.299bb","d":true,"isParent":true,"bridge":"9f421ae3.532178","parentService":"","name":"Подсветка в гостинной","serviceName":"Lightbulb","topic":"","filter":false,"manufacturer":"NRCHKB","model":"1.2.0","serialNo":"Default Serial Number","firmwareRev":"1.2.0","hardwareRev":"1.2.0","softwareRev":"1.2.0","cameraConfigVideoProcessor":"ffmpeg","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":2,"cameraConfigMaxWidth":1280,"cameraConfigMaxHeight":720,"cameraConfigMaxFPS":10,"cameraConfigMaxBitrate":300,"cameraConfigVideoCodec":"libx264","cameraConfigAudioCodec":"libfdk_aac","cameraConfigAudio":false,"cameraConfigPacketSize":1316,"cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"0:0","cameraConfigMapAudio":"0:1","cameraConfigVideoFilter":"scale=1280:720","cameraConfigAdditionalCommandLine":"-tune zerolatency","cameraConfigDebug":false,"cameraConfigSnapshotOutput":"disabled","cameraConfigInterfaceName":"","characteristicProperties":"{\"Brightness\": true}","waitForSetupMsg":false,"outputs":2,"x":610,"y":660,"wires":[["cd6945f3.51d2b8"],["6b39a503.b3258c"]]},{"id":"709c7b0b.9833d4","type":"wirenboard-out","z":"ece9031d.299bb","name":"","server":"31f20954.c5e1b6","channel":["/devices/wb-mdm3_104/controls/K3"],"command":"/on","commandType":"wb_cmd","payload":"payload","payloadType":"msg","x":1040,"y":660,"wires":[]},{"id":"c73dc090.e25f8","type":"inject","z":"ece9031d.299bb","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"Brightness\":10}","payloadType":"json","x":270,"y":680,"wires":[["648b8aba.33ce04"]]},{"id":"6b39a503.b3258c","type":"function","z":"ece9031d.299bb","name":"","func":"var out = [null, null];\n\nif ('On' in msg.payload) {\n    var on = msg.payload.On ? 1 : 0;\n    out[0] = {payload: on};\n}\nif ('Brightness' in msg.payload) {\n    out[1] = {payload: msg.payload.Brightness};\n}\n\nreturn out;","outputs":2,"noerr":0,"initialize":"","finalize":"","x":760,"y":760,"wires":[["709c7b0b.9833d4","3fb1338d.0b02fc"],["4d95c.9c8116a48","bcb1eaa3.e25738"]]},{"id":"4d95c.9c8116a48","type":"wirenboard-out","z":"ece9031d.299bb","name":"","server":"31f20954.c5e1b6","channel":["/devices/wb-mdm3_104/controls/Channel 3"],"command":"/on","commandType":"wb_cmd","payload":"payload","payloadType":"msg","x":1130,"y":720,"wires":[]},{"id":"3fb1338d.0b02fc","type":"debug","z":"ece9031d.299bb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1030,"y":840,"wires":[]},{"id":"bcb1eaa3.e25738","type":"debug","z":"ece9031d.299bb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":950,"y":940,"wires":[]},{"id":"d535388d.92df28","type":"wirenboard-get","z":"ece9031d.299bb","name":"","server":"31f20954.c5e1b6","channel":["/devices/wb-mdm3_104/controls/Input 5 counter"],"x":1500,"y":600,"wires":[["7c03c798.6c2b78"]]},{"id":"5530929a.28f71c","type":"mqtt out","z":"ece9031d.299bb","name":"","topic":"/devices/wb-mdm3_104/controls/Input 5 counter","qos":"","retain":"","broker":"e89c25a5.7df6c8","x":2050,"y":600,"wires":[]},{"id":"fe45723f.6f713","type":"debug","z":"ece9031d.299bb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1970,"y":720,"wires":[]},{"id":"7c03c798.6c2b78","type":"function","z":"ece9031d.299bb","name":"","func":"msg.payload = (~~msg.payload) + 1;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1760,"y":600,"wires":[["5530929a.28f71c","fe45723f.6f713"]]},{"id":"306a1560.fa0c8a","type":"wirenboard-in","z":"ece9031d.299bb","d":true,"name":"","server":"31f20954.c5e1b6","channel":["/devices/wb-mdm3_104/controls/Channel 3","/devices/wb-mdm3_104/controls/K3","/devices/wb-mdm3_104/controls/K3"],"outputAtStartup":false,"x":200,"y":800,"wires":[["29d1df1b.c770d"]]},{"id":"ee610c3f.478d4","type":"debug","z":"ece9031d.299bb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":560,"y":860,"wires":[]},{"id":"29d1df1b.c770d","type":"function","z":"ece9031d.299bb","name":"","func":"var keys = Object.keys(msg.payload);\nvar pauload = {};\nfor (var i = 0; i < keys.length; i++) {\n    if (keys[i].match(/Channel\\s\\d*$/)) {\n        pauload.Brightness = msg.payload[keys[i]];\n    } else if (keys[i].match(/K\\d*$/)) {\n        pauload.On = msg.payload[keys[i]];\n    }\n}\nmsg.payload = pauload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":780,"wires":[["648b8aba.33ce04","ee610c3f.478d4"]]},{"id":"abd6538d.8f9dc","type":"rpi-gpio in","z":"1f115dbb.b55aa2","d":true,"name":"","pin":"3","intype":"tri","debounce":"25","read":true,"x":250,"y":1200,"wires":[["34da0da8.886412"]]},{"id":"50ade207.772c3c","type":"rpi-gpio out","z":"1f115dbb.b55aa2","d":true,"name":"","pin":"40","set":true,"level":"0","freq":"","out":"out","x":820,"y":980,"wires":[]},{"id":"51851fba.77a84","type":"rpi-gpio out","z":"1f115dbb.b55aa2","d":true,"name":"","pin":"37","set":true,"level":"0","freq":"","out":"out","x":980,"y":1220,"wires":[]},{"id":"4bf7acd.e27f954","type":"rpi-gpio out","z":"1f115dbb.b55aa2","d":true,"name":"","pin":"12","set":"","level":"0","freq":"1000","out":"pwm","x":930,"y":1360,"wires":[]},{"id":"92820aba.4d0668","type":"rpi-gpio out","z":"1f115dbb.b55aa2","d":true,"g":"c4c2ca39.c01f78","name":"Солнышко 1","pin":"33","set":true,"level":"0","freq":"","out":"out","x":1250,"y":1560,"wires":[]},{"id":"3a8c4ae7.2bf2d6","type":"rpi-gpio out","z":"1f115dbb.b55aa2","d":true,"g":"c4c2ca39.c01f78","name":"Солнышко 2","pin":"35","set":true,"level":"0","freq":"","out":"out","x":1260,"y":1640,"wires":[]},{"id":"ef1986c5.4018c8","type":"rpi-gpio out","z":"1f115dbb.b55aa2","d":true,"g":"c4c2ca39.c01f78","name":"Солнышко 3","pin":"36","set":true,"level":"0","freq":"","out":"out","x":1240,"y":1720,"wires":[]},{"id":"3a1bbc95d2a4e3b2","type":"inject","z":"9712e98522260239","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":560,"wires":[["c139e77d17da5f17"]]},{"id":"25d929ca93676b56","type":"http request","z":"9712e98522260239","name":"/api/login","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://vs.domru.ru/api/login","tls":"","persist":false,"proxy":"","authType":"","x":480,"y":820,"wires":[["1a55ee65a5c1701b"]]},{"id":"91d20d35023fef7f","type":"function","z":"9712e98522260239","name":"headers","func":"msg.headers = {\n    'content-type': 'application/x-www-form-urlencoded',\n}\nnode.warn('logging in');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":700,"wires":[["37d9f635d56aa3ab"]]},{"id":"1a55ee65a5c1701b","type":"change","z":"9712e98522260239","name":"","rules":[{"t":"set","p":"domru_SessionID","pt":"flow","to":"payload.SessionID","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":880,"wires":[["f15071e6f1893f5d"]]},{"id":"d146cd3a2218b576","type":"function","z":"9712e98522260239","name":"session/camera/format","func":"msg.headers = {\n    'content-type': 'application/x-www-form-urlencoded',\n}\nmsg.payload = {\n    SessionID: flow.get('domru_SessionID'),\n    CameraID: msg.req.params.id,\n    Format: msg.req.params.format,\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":930,"y":780,"wires":[["f1e73a986178941f"]]},{"id":"f1e73a986178941f","type":"http request","z":"9712e98522260239","name":"/api/getTranslationURL","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://vs.domru.ru/api/getTranslationURL","tls":"","persist":false,"proxy":"","authType":"","x":940,"y":700,"wires":[["23e5e753d3d359ab"]]},{"id":"23e5e753d3d359ab","type":"switch","z":"9712e98522260239","name":"error handler - session expired","property":"payload","propertyType":"msg","rules":[{"t":"hask","v":"URL","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":970,"y":580,"wires":[["e55a17a08b7b25d1"],["5b7a5d1e0bfac898"]]},{"id":"94885386ebd8e84c","type":"http request","z":"9712e98522260239","name":"get image","method":"GET","ret":"bin","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1020,"y":260,"wires":[["f307a98eb00db5c5"]]},{"id":"5b7a5d1e0bfac898","type":"function","z":"9712e98522260239","name":"set login errors count","func":"flow.set('domru_login_errors_count', ~~(flow.get('domru_login_errors_count') || 0) + 1);\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1280,"y":640,"wires":[["9b078bfc7db374c7"]]},{"id":"f9968289103e85cf","type":"switch","z":"9712e98522260239","name":"ограничение на кол-во повторов логина","property":"domru_login_errors_count","propertyType":"flow","rules":[{"t":"lt","v":"3","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1330,"y":840,"wires":[["0f2f05482a357d34"],["0bcd2fd8168cf96e"]]},{"id":"9b078bfc7db374c7","type":"change","z":"9712e98522260239","name":"delete SessionID","rules":[{"t":"delete","p":"domru_SessionID","pt":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1270,"y":720,"wires":[["f9968289103e85cf"]]},{"id":"31cfd2361ad288a3","type":"http in","z":"9712e98522260239","name":"/cam/:id/:format","url":"/cam/:id/:format","method":"get","upload":false,"swaggerDoc":"","x":160,"y":400,"wires":[["03fac0354c40a06f"]]},{"id":"1381181fb5cd8548","type":"http response","z":"9712e98522260239","name":"response image","statusCode":"","headers":{"content-type":"image/jpeg"},"x":1420,"y":220,"wires":[]},{"id":"0bcd2fd8168cf96e","type":"http response","z":"9712e98522260239","name":"response auth error","statusCode":"","headers":{},"x":1490,"y":920,"wires":[]},{"id":"e55a17a08b7b25d1","type":"function","z":"9712e98522260239","name":"save cam url in flow context","func":"msg.url = msg.payload.URL;\nmsg.payload = null;\nflow.set(`domru_cam_${msg.req.params.id}_${msg.req.params.format}_url`, msg.url);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":980,"y":480,"wires":[["79fd7f80cba7266a"]]},{"id":"03fac0354c40a06f","type":"function","z":"9712e98522260239","name":"check url already saved","func":"const url = flow.get(`domru_cam_${msg.req.params.id}_${msg.req.params.format}_url`);\n\nif (url) {\n    msg.url = url;\n    msg.payload = null;\n    return [msg, null];\n} else {\n    return [null, msg];\n}\n","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":440,"wires":[["79fd7f80cba7266a"],["c139e77d17da5f17"]],"outputLabels":["yes","no"]},{"id":"f307a98eb00db5c5","type":"function","z":"9712e98522260239","name":"check error","func":"msg.url = undefined;\n\nif (msg.statusCode === 'ECONNRESET') {\n    flow.set(`domru_cam_${msg.req.params.id}_${msg.req.params.format}_url`, undefined);\n    return [null, msg];\n} else {\n    flow.set('domru_login_errors_count', undefined);\n    return [msg, null];\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1210,"y":260,"wires":[["1381181fb5cd8548"],["f847d731f04f15bc"]],"outputLabels":["image","error"]},{"id":"bdbf74f9920b321c","type":"credentials","z":"9712e98522260239","name":"login/password","props":[{"value":"payload.Login","type":"msg"},{"value":"payload.Password","type":"msg"}],"x":440,"y":620,"wires":[["91d20d35023fef7f"]]},{"id":"34c94c93e4919c66","type":"function","z":"9712e98522260239","name":"check domru_SessionID existance","func":"if (flow.get('domru_SessionID')) {\n    return [msg, null];\n} else {\n    return [null, msg];\n}\n","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":540,"wires":[["d146cd3a2218b576"],["bdbf74f9920b321c"]],"outputLabels":["exists","not exists"]},{"id":"0f2f05482a357d34","type":"link out","z":"9712e98522260239","name":"login again","links":["93a68091163d8217"],"x":1650,"y":820,"wires":[],"l":true},{"id":"93a68091163d8217","type":"link in","z":"9712e98522260239","name":"login again","links":["0f2f05482a357d34"],"x":240,"y":640,"wires":[["bdbf74f9920b321c"]],"l":true},{"id":"f847d731f04f15bc","type":"link out","z":"9712e98522260239","name":"check session","links":["ebe14cfb69a57eb9"],"x":1420,"y":320,"wires":[],"l":true},{"id":"ebe14cfb69a57eb9","type":"link in","z":"9712e98522260239","name":"check session","links":["f847d731f04f15bc"],"x":130,"y":500,"wires":[["c139e77d17da5f17"]],"l":true},{"id":"79fd7f80cba7266a","type":"switch","z":"9712e98522260239","name":"image/video","property":"req.params.format","propertyType":"msg","rules":[{"t":"eq","v":"JPG","vt":"str"},{"t":"eq","v":"H264","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":850,"y":320,"wires":[["94885386ebd8e84c"],["78d31acf9a76ddd6"]]},{"id":"a45ff1266d8b09ba","type":"http-proxy","z":"9712e98522260239","name":"proxy video","url":"","incomingTimeout":0,"outgoingTimeout":0,"changeOrigin":false,"preserveHeaderKeyCase":false,"verifyCertificates":false,"followRedirects":false,"toProxy":false,"xfwd":false,"x":1330,"y":420,"wires":[]},{"id":"f550a2cb69fe0404","type":"catch","z":"9712e98522260239","name":"","scope":["a45ff1266d8b09ba"],"uncaught":false,"x":850,"y":1100,"wires":[["0b8df405c945c4eb"]]},{"id":"0b8df405c945c4eb","type":"debug","z":"9712e98522260239","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1040,"y":1100,"wires":[]},{"id":"78d31acf9a76ddd6","type":"function","z":"9712e98522260239","name":"remove video url from context","func":"\nflow.set(`domru_cam_${msg.req.params.id}_${msg.req.params.format}_url`, undefined);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1110,"y":360,"wires":[["a45ff1266d8b09ba"]]},{"id":"37d9f635d56aa3ab","type":"change","z":"9712e98522260239","name":"lock","rules":[{"t":"set","p":"domru_lock_login","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":760,"wires":[["25d929ca93676b56"]]},{"id":"f15071e6f1893f5d","type":"change","z":"9712e98522260239","name":"unlock","rules":[{"t":"set","p":"domru_lock_login","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":820,"wires":[["d146cd3a2218b576"]]},{"id":"c139e77d17da5f17","type":"function","z":"9712e98522260239","name":"queue","func":"if (flow.get('domru_lock_login') === true) {\n    const queue = context.get('queue') || [];\n\n    queue.push(RED.util.cloneMessage(msg));\n    context.set('queue', queue);\n    node.debug(`queue length == ${queue.length}`);\n\n    node.debug(`domru_lock_login locked`);\n    if (context.get('lock') === true) {\n        node.debug(`node locked`);\n        // another instance is running. just queue and exit\n        return;\n    }\n    \n    context.set('lock', true);\n    \n    const interval = setInterval(() => {\n        if (flow.get('domru_lock_login') === false) {\n            node.debug(`domru_lock_login unlocked`);\n            clearInterval(interval);\n            context.set('interval', undefined);\n            let message;\n            const queue = context.get('queue') || [];\n            node.debug(`sending. queue length == ${queue.length}`);\n            while (message = queue.shift()) {\n                node.send(message);\n            }\n            node.done();\n            node.debug(`sending done. queue length == ${queue.length}`);\n            context.set('lock', false);\n        }\n    }, 1000);\n    \n    context.set('interval', interval);\n    \n    return;\n} else {\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"// Добавленный здесь код будет исполняться при\n// остановке узла или повторном развертывании.\nif (context.get('interval')) {\n    clearInterval(context.get('interval'));\n    context.set('interval', undefined);\n}\n","libs":[],"x":330,"y":540,"wires":[["34c94c93e4919c66"]]}]