data/flows.json
[{"id":"ece9031d.299bb","type":"tab","label":"Wiren Board","disabled":false,"info":""},{"id":"9712e98522260239","type":"tab","label":"Home Assistant","disabled":false,"info":""},{"id":"5975f094.53932","type":"tab","label":"HomeKit тест","disabled":false,"info":""},{"id":"4a172910.632898","type":"group","z":"5975f094.53932","name":"Управление виртуальной лампочкой, созданной в Node-Red","style":{"label":true},"nodes":["3c9f8969.287166","2cd836b5.7482fa","f6dce9cd.3fdf88","7a5acd41.42a334"],"x":794,"y":99},{"id":"80dbc2ebd59447d0","type":"group","z":"ece9031d.299bb","name":"Спальня бра","style":{"label":true},"nodes":["16dd69f09434c7c7","bc3fe8b10bdedb92","714c5587407001b4","db55ce9a5c21d19f","ed7adc879ce8e8ee","18b49924bed59126","983baa6b5aaf9412","239a08696570570c","f6dd79ef3c9546c4","5834e64d1ab2425c"],"x":1434,"y":579,"w":912,"h":342},{"id":"4ec6e03da1a1be41","type":"group","z":"ece9031d.299bb","name":"Гостиная диван","style":{"label":true},"nodes":["592cd23abc87daea","55a298d228b5fcf7","c43661154ccd7a10","f45a0da596772f09","a0be745299bcb5d2","b0353022278aecca","1385e1b610e815d1","d2eda8e35f1ba606","06d6670fd55c4b67","c633378c0d6a184a","9212d9cb517e5b80","dc4692a76e8f746d","291f4f89d09aa1a8"],"x":1114,"y":19,"w":972,"h":362},{"id":"6e866e4b166a14d5","type":"group","z":"ece9031d.299bb","name":"Кухня фартук","style":{"label":true},"nodes":["67f4be565aa83705","746c670c6c346ca1","f93564758959a37a","401fb5fad055c009","140ee4b164992dce","f4d5b9bcfd480c08"],"x":14,"y":19,"w":932,"h":242},{"id":"159cfa54aca87bb8","type":"group","z":"9712e98522260239","name":"Камеры Голливуд","style":{"label":true},"nodes":["4461dfca73dd34e4","c0394858f7f3c30b","3a1bbc95d2a4e3b2","25d929ca93676b56","91d20d35023fef7f","1a55ee65a5c1701b","d146cd3a2218b576","f1e73a986178941f","23e5e753d3d359ab","94885386ebd8e84c","5b7a5d1e0bfac898","f9968289103e85cf","9b078bfc7db374c7","31cfd2361ad288a3","1381181fb5cd8548","0bcd2fd8168cf96e","e55a17a08b7b25d1","03fac0354c40a06f","f307a98eb00db5c5","bdbf74f9920b321c","34c94c93e4919c66","0f2f05482a357d34","93a68091163d8217","f847d731f04f15bc","ebe14cfb69a57eb9","79fd7f80cba7266a","a45ff1266d8b09ba","78d31acf9a76ddd6","37d9f635d56aa3ab","f15071e6f1893f5d","c139e77d17da5f17"],"x":1474,"y":79},{"id":"88165d6fb070606a","type":"group","z":"9712e98522260239","name":"Тест. сигнализация","style":{"label":true},"nodes":["c7393e379aae134d","acec90c1eef6b664","e4fa55a3d10b9dc7","b7fe9e87a2aeaee2","36af4c2241318197","fb2057a5246c8007"],"x":104,"y":999},{"id":"467ded538a82c1c3","type":"group","z":"9712e98522260239","name":"Пищалка забытой двери холодильника","style":{"label":true},"nodes":["195f64f41b055626","736fe4fc245ad371","b1ef300c471d5771","3361c5143ad0e6d9","065eb7a4618fcb55"],"x":54,"y":59},{"id":"cd68d82cc1dc3a02","type":"group","z":"ece9031d.299bb","name":"Гардероб свет датчик движения","style":{"label":true},"nodes":["8d73c363f3af6284","c2a0db3e691cc69e","8ef34c4c02872701","6ee42994dfd94b2d","d0ed6fe4dbc8083d","21a36b0fbe59216e"],"x":14,"y":939,"w":552,"h":302},{"id":"a574d83e59e8ccc0","type":"group","z":"ece9031d.299bb","name":"Мастер выключатель","style":{"label":true},"nodes":["1337c1b496254216","64621edca7240ab1","cac4619ea699e530","7cc484a2856a21e3","0346d661b3bd270c","29323ce0973b0f2c","612e9df65654a660","4d54914b7fb19e55","6fc9142ec8c4a967","05fe6b6ea39c8d17","a2fdd3b585d27f87","7bcc7652dec8a4fa","35fcb91d689609fa","add69d1ad2b5680d"],"x":14,"y":279,"w":1032,"h":382},{"id":"5087fbc05e4696ab","type":"group","z":"ece9031d.299bb","name":"Ночная подсветка","style":{"label":true},"nodes":["e69fa8368d95d6c5","96ad475eb31ee7fd","a934912fbf5110ef","cc69940ada0495b0","22f77e455c2585bd","4efedc89be5bccd5","70c1e03e09bc4985","7a4304fcb7c3b071","71e019ad1d2494a5"],"x":14,"y":679,"w":832,"h":222},{"id":"b35157a26a86c7ef","type":"group","z":"ece9031d.299bb","name":"Кладовая свет датчик движения","style":{"label":true},"nodes":["7a9974d7b9b7d428","a1bac433523fa244","e1cebc4fa1e3faa1","892fd0407a0b73aa","21bbf77198751372","9d6352de098ebe53"],"x":614,"y":939,"w":632,"h":282},{"id":"72e60f5e0c3794d0","type":"group","z":"ece9031d.299bb","name":"Кухня остров","style":{"label":true},"nodes":["ac7721f2151593ae","0743fc548fdc9db7","03e98d25b3ff3716","aadf3d9932e0ba38","34099c48728c950a","998e26416d93cc56","dbbae643d8eebca7","deb660ac854e061f","1feba6d310170c83"],"x":14,"y":1259,"w":1152,"h":222},{"id":"e2b4bb3c.b80a98","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"42968284.a14bfc","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"87de77d1.82a0d8","type":"ui_group","name":"Default","tab":"e2b4bb3c.b80a98","order":1,"disp":true,"width":"20","collapse":false},{"id":"cf2fe171.40162","type":"ui_group","name":"Multi Bubble","tab":"8edb4c27.94fea","order":1,"disp":true,"width":"6"},{"id":"8edb4c27.94fea","type":"ui_tab","name":"Bubbles","icon":"dashboard"},{"id":"4874ccfd.a65b44","type":"mqtt-broker","name":"mosquitto raspberry","broker":"192.168.88.104","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"9f421ae3.532178","type":"homekit-bridge","bridgeName":"node-red","pinCode":"031-45-154","port":"","allowInsecureRequest":true,"manufacturer":"NRCHKB","model":"1.2.0","serialNo":"Default Serial Number","firmwareRev":"1.2.0","hardwareRev":"1.2.0","softwareRev":"1.2.0","customMdnsConfig":false,"mdnsMulticast":true,"mdnsInterface":"","mdnsPort":"","mdnsIp":"","mdnsTtl":"","mdnsLoopback":true,"mdnsReuseAddr":true,"allowMessagePassthrough":true},{"id":"11b32c1b.ed26f4","type":"hb-conf","username":"031-45-154"},{"id":"31f20954.c5e1b6","type":"wirenboard-server","name":"wb","host":"192.168.88.91","mqtt_port":"1883","mqtt_username":"user","mqtt_password":"2pos2kni"},{"id":"e89c25a5.7df6c8","type":"mqtt-broker","name":"Wiren Board","broker":"192.168.88.101","port":"1883","clientid":"","usetls":false,"compatmode":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"1795236121c47476","type":"server","name":"Home Assistant","version":1,"legacy":false,"addon":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"16dd69f09434c7c7","type":"api-call-service","z":"ece9031d.299bb","g":"80dbc2ebd59447d0","name":"Гардероб свет переключить","server":"1795236121c47476","version":3,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.svet_garderob","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":2090,"y":660,"wires":[[]]},{"id":"592cd23abc87daea","type":"wirenboard-button","z":"ece9031d.299bb","g":"4ec6e03da1a1be41","name":"Гостинная диван","server":"31f20954.c5e1b6","channel":"/devices/wb-gpio/controls/EXT1_IN8","eventTypes":["LongPress","Click","DoubleClick"],"longPressDelay":"300","longPressRange":true,"longpressTimerValueMin":0,"longpressTimerValueMax":100,"longpressTimerValueStep":5,"longpressTimerChangeDelayMs":"400","doubleClickDelay":"600","x":1230,"y":80,"wires":[["c43661154ccd7a10"]]},{"id":"55a298d228b5fcf7","type":"wirenboard-out","z":"ece9031d.299bb","g":"4ec6e03da1a1be41","name":"Подсветка ТВ яркость","server":"31f20954.c5e1b6","channel":["/devices/wb-mrgbw-d-fw3_153/controls/Channel 1 (B) Brightness"],"command":"/on","commandType":"wb_cmd","payload":"payload","payloadType":"msg","x":1630,"y":60,"wires":[]},{"id":"c43661154ccd7a10","type":"switch","z":"ece9031d.299bb","g":"4ec6e03da1a1be41","name":"longpress / doubleclick / click","property":"event","propertyType":"msg","rules":[{"t":"eq","v":"longpress","vt":"str"},{"t":"eq","v":"doubleclick","vt":"str"},{"t":"eq","v":"click","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1370,"y":180,"wires":[["55a298d228b5fcf7","1385e1b610e815d1"],["a0be745299bcb5d2"],["06d6670fd55c4b67","dc4692a76e8f746d"]],"outputLabels":["longpress","doubleclick","click"]},{"id":"f45a0da596772f09","type":"wirenboard-out","z":"ece9031d.299bb","g":"4ec6e03da1a1be41","name":"Гостиная верхний свет","server":"31f20954.c5e1b6","channel":["/devices/wb-mr6c_42/controls/K4"],"command":"/on","commandType":"wb_cmd","payload":"payload","payloadType":"msg","x":1950,"y":80,"wires":[]},{"id":"a0be745299bcb5d2","type":"wirenboard-get","z":"ece9031d.299bb","g":"4ec6e03da1a1be41","name":"Гостиная верхний свет","server":"31f20954.c5e1b6","channel":["/devices/wb-mr6c_42/controls/K4"],"x":1670,"y":160,"wires":[["b0353022278aecca"]]},{"id":"b0353022278aecca","type":"function","z":"ece9031d.299bb","g":"4ec6e03da1a1be41","name":"Invert","func":"\nif (msg.payload === '1') {\n    msg.payload = '0';\n} else if (msg.payload === '0') {\n    msg.payload = '1';\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1870,"y":140,"wires":[["f45a0da596772f09"]]},{"id":"1385e1b610e815d1","type":"wirenboard-out","z":"ece9031d.299bb","g":"4ec6e03da1a1be41","name":"Подсветка кухни яркость","server":"31f20954.c5e1b6","channel":["/devices/wb-mrgbw-d-fw3_153/controls/Channel 3 (G) Brightness"],"command":"/on","commandType":"wb_cmd","payload":"payload","payloadType":"msg","x":1660,"y":100,"wires":[]},{"id":"bc3fe8b10bdedb92","type":"wirenboard-button","z":"ece9031d.299bb","g":"80dbc2ebd59447d0","name":"Бра Алии","server":"31f20954.c5e1b6","channel":"/devices/wb-gpio/controls/EXT1_IN3","eventTypes":["LongPress","Click","DoubleClick"],"longPressDelay":"300","longPressRange":true,"longpressTimerValueMin":0,"longpressTimerValueMax":100,"longpressTimerValueStep":5,"longpressTimerChangeDelayMs":"500","doubleClickDelay":"600","x":1520,"y":680,"wires":[["714c5587407001b4"]]},{"id":"714c5587407001b4","type":"switch","z":"ece9031d.299bb","g":"80dbc2ebd59447d0","name":"longpress / doubleclick / click","property":"event","propertyType":"msg","rules":[{"t":"eq","v":"longpress","vt":"str"},{"t":"eq","v":"doubleclick","vt":"str"},{"t":"eq","v":"click","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1770,"y":660,"wires":[["db55ce9a5c21d19f"],["16dd69f09434c7c7"],["983baa6b5aaf9412"]],"outputLabels":["longpress","doubleclick","click"]},{"id":"db55ce9a5c21d19f","type":"wirenboard-out","z":"ece9031d.299bb","g":"80dbc2ebd59447d0","name":"Спальня подсветка шторы яркость","server":"31f20954.c5e1b6","channel":["/devices/wb-mdm3_104/controls/Channel 1"],"command":"/on","commandType":"wb_cmd","payload":"payload","payloadType":"msg","x":2110,"y":620,"wires":[]},{"id":"ed7adc879ce8e8ee","type":"wirenboard-button","z":"ece9031d.299bb","g":"80dbc2ebd59447d0","name":"Бра Вадима","server":"31f20954.c5e1b6","channel":"/devices/wb-gpio/controls/EXT1_IN4","eventTypes":["LongPress","Click","DoubleClick"],"longPressDelay":"300","longPressRange":true,"longpressTimerValueMin":0,"longpressTimerValueMax":100,"longpressTimerValueStep":5,"longpressTimerChangeDelayMs":"500","doubleClickDelay":"600","x":1530,"y":620,"wires":[["714c5587407001b4"]]},{"id":"18b49924bed59126","type":"wirenboard-out","z":"ece9031d.299bb","g":"80dbc2ebd59447d0","name":"Спальня подсветка шторы вкл/выкл","server":"31f20954.c5e1b6","channel":["/devices/wb-mdm3_104/controls/K1"],"command":"/on","commandType":"wb_cmd","payload":"payload","payloadType":"msg","x":2170,"y":780,"wires":[]},{"id":"983baa6b5aaf9412","type":"wirenboard-get","z":"ece9031d.299bb","g":"80dbc2ebd59447d0","name":"Спальня подсветка шторы вкл/выкл","server":"31f20954.c5e1b6","channel":["/devices/wb-mdm3_104/controls/K1"],"x":2110,"y":720,"wires":[["239a08696570570c"]]},{"id":"239a08696570570c","type":"function","z":"ece9031d.299bb","g":"80dbc2ebd59447d0","name":"Invert","func":"\nif (msg.payload === '1') {\n    msg.payload = '0';\n} else if (msg.payload === '0') {\n    msg.payload = '1';\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1910,"y":780,"wires":[["18b49924bed59126","5834e64d1ab2425c"]]},{"id":"67f4be565aa83705","type":"wirenboard-button","z":"ece9031d.299bb","g":"6e866e4b166a14d5","name":"Кухня фартук","server":"31f20954.c5e1b6","channel":"/devices/wb-gpio/controls/EXT1_IN7","eventTypes":["LongPress","Click"],"longPressDelay":"300","longPressRange":true,"longpressTimerValueMin":0,"longpressTimerValueMax":100,"longpressTimerValueStep":5,"longpressTimerChangeDelayMs":"400","doubleClickDelay":600,"x":120,"y":80,"wires":[["746c670c6c346ca1"]]},{"id":"746c670c6c346ca1","type":"switch","z":"ece9031d.299bb","g":"6e866e4b166a14d5","name":"longpress / doubleclick / click","property":"event","propertyType":"msg","rules":[{"t":"eq","v":"longpress","vt":"str"},{"t":"eq","v":"doubleclick","vt":"str"},{"t":"eq","v":"click","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":380,"y":80,"wires":[["f93564758959a37a"],[],["140ee4b164992dce"]],"outputLabels":["longpress","doubleclick","click"]},{"id":"f93564758959a37a","type":"wirenboard-out","z":"ece9031d.299bb","g":"6e866e4b166a14d5","name":"Подсветка кухни яркость","server":"31f20954.c5e1b6","channel":["/devices/wb-mrgbw-d-fw3_153/controls/Channel 3 (G) Brightness"],"command":"/on","commandType":"wb_cmd","payload":"payload","payloadType":"msg","x":740,"y":60,"wires":[]},{"id":"401fb5fad055c009","type":"wirenboard-out","z":"ece9031d.299bb","g":"6e866e4b166a14d5","name":"Подсветка кухни вкл/выкл","server":"31f20954.c5e1b6","channel":["/devices/wb-mrgbw-d-fw3_153/controls/Channel 3 (G)"],"command":"/on","commandType":"wb_cmd","payload":"payload","payloadType":"msg","x":800,"y":220,"wires":[]},{"id":"140ee4b164992dce","type":"wirenboard-get","z":"ece9031d.299bb","g":"6e866e4b166a14d5","name":"Водсветка кухни вкл/выкл","server":"31f20954.c5e1b6","channel":["/devices/wb-mrgbw-d-fw3_153/controls/Channel 3 (G)"],"x":740,"y":100,"wires":[["f4d5b9bcfd480c08"]]},{"id":"d2eda8e35f1ba606","type":"wirenboard-out","z":"ece9031d.299bb","g":"4ec6e03da1a1be41","name":"Гостиная верхний свет","server":"31f20954.c5e1b6","channel":["/devices/wb-mr6c_42/controls/K4"],"command":"/on","commandType":"wb_cmd","payload":"payload","payloadType":"msg","x":1810,"y":200,"wires":[]},{"id":"06d6670fd55c4b67","type":"change","z":"ece9031d.299bb","g":"4ec6e03da1a1be41","name":"off","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1610,"y":200,"wires":[["d2eda8e35f1ba606"]]},{"id":"c633378c0d6a184a","type":"wirenboard-out","z":"ece9031d.299bb","g":"4ec6e03da1a1be41","name":"Подсветка ТВ вкл/выкл","server":"31f20954.c5e1b6","channel":["/devices/wb-mrgbw-d-fw3_153/controls/Channel 1 (B)"],"command":"/on","commandType":"wb_cmd","payload":"payload","payloadType":"msg","x":1830,"y":260,"wires":[]},{"id":"9212d9cb517e5b80","type":"wirenboard-out","z":"ece9031d.299bb","g":"4ec6e03da1a1be41","name":"Подсветка кухни вкл/выкл","server":"31f20954.c5e1b6","channel":["/devices/wb-mrgbw-d-fw3_153/controls/Channel 3 (G)"],"command":"/on","commandType":"wb_cmd","payload":"payload","payloadType":"msg","x":1840,"y":300,"wires":[]},{"id":"dc4692a76e8f746d","type":"change","z":"ece9031d.299bb","g":"4ec6e03da1a1be41","name":"on","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1610,"y":260,"wires":[["c633378c0d6a184a","9212d9cb517e5b80","291f4f89d09aa1a8"]]},{"id":"291f4f89d09aa1a8","type":"api-call-service","z":"ece9031d.299bb","g":"4ec6e03da1a1be41","name":"Розетка гостиной вкл","server":"1795236121c47476","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.0x00158d00025863b3","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1820,"y":340,"wires":[[]]},{"id":"1337c1b496254216","type":"wirenboard-in","z":"ece9031d.299bb","g":"a574d83e59e8ccc0","name":"Мастер выключатель. Долгое нажатие","server":"31f20954.c5e1b6","channel":["/devices/wb-mr6c_42/controls/input_3 Long Press Counter","/devices/wb-mr6c_42/controls/input_3 Long Press Counter"],"outputAtStartup":false,"x":200,"y":420,"wires":[["0346d661b3bd270c"]]},{"id":"64621edca7240ab1","type":"wirenboard-out","z":"ece9031d.299bb","g":"a574d83e59e8ccc0","name":"Ванная свет","server":"31f20954.c5e1b6","channel":["/devices/wb-mr6c_138/controls/K1"],"command":"/on","commandType":"wb_cmd","payload":"payload","payloadType":"msg","x":660,"y":320,"wires":[]},{"id":"cac4619ea699e530","type":"wirenboard-out","z":"ece9031d.299bb","g":"a574d83e59e8ccc0","name":"Отопление","server":"31f20954.c5e1b6","channel":["/devices/heater_control/controls/enabled"],"command":"/on","commandType":"wb_cmd","payload":"payload","payloadType":"msg","x":660,"y":360,"wires":[]},{"id":"7cc484a2856a21e3","type":"wirenboard-out","z":"ece9031d.299bb","g":"a574d83e59e8ccc0","name":"Подсветка кухни вкл/выкл","server":"31f20954.c5e1b6","channel":["/devices/wb-mrgbw-d-fw3_153/controls/Channel 3 (G)"],"command":"/on","commandType":"wb_cmd","payload":"payload","payloadType":"msg","x":710,"y":400,"wires":[]},{"id":"0346d661b3bd270c","type":"change","z":"ece9031d.299bb","g":"a574d83e59e8ccc0","name":"off - \"0\"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":420,"wires":[["64621edca7240ab1","cac4619ea699e530","7cc484a2856a21e3","29323ce0973b0f2c","612e9df65654a660","4d54914b7fb19e55","6fc9142ec8c4a967","a2fdd3b585d27f87","7bcc7652dec8a4fa","35fcb91d689609fa","add69d1ad2b5680d"]]},{"id":"29323ce0973b0f2c","type":"wirenboard-out","z":"ece9031d.299bb","g":"a574d83e59e8ccc0","name":"Подсветка ТВ вкл/выкл","server":"31f20954.c5e1b6","channel":["/devices/wb-mrgbw-d-fw3_153/controls/Channel 1 (B)"],"command":"/on","commandType":"wb_cmd","payload":"payload","payloadType":"msg","x":700,"y":440,"wires":[]},{"id":"612e9df65654a660","type":"api-call-service","z":"ece9031d.299bb","g":"a574d83e59e8ccc0","name":"Розетка гостиной выкл","server":"1795236121c47476","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.0x00158d00025863b3","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":700,"y":560,"wires":[[]]},{"id":"4d54914b7fb19e55","type":"api-call-service","z":"ece9031d.299bb","g":"a574d83e59e8ccc0","name":"Гардероб свет выкл","server":"1795236121c47476","version":3,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.svet_garderob","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":690,"y":620,"wires":[[]]},{"id":"f6dd79ef3c9546c4","type":"wirenboard-out","z":"ece9031d.299bb","d":true,"g":"80dbc2ebd59447d0","name":"Коридор подсветка пола вкл/выкл","server":"31f20954.c5e1b6","channel":["/devices/wb-mrgbw-d-fw3_153/controls/Channel 2 (R)"],"command":"/on","commandType":"wb_cmd","payload":"payload","payloadType":"msg","x":2170,"y":880,"wires":[]},{"id":"e69fa8368d95d6c5","type":"trigger-state","z":"ece9031d.299bb","g":"5087fbc05e4696ab","name":"Sun elevation < 0","server":"1795236121c47476","version":0,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"sun.sun","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"property","comparatorType":"<","comparatorValueDatatype":"num","comparatorValue":"0","propertyValue":"new_state.attributes.elevation"}],"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":150,"y":800,"wires":[["cc69940ada0495b0","22f77e455c2585bd"],["70c1e03e09bc4985"]]},{"id":"96ad475eb31ee7fd","type":"inject","z":"ece9031d.299bb","g":"5087fbc05e4696ab","name":"test","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"entity_id\":\"sun.sun\",\"old_state\":{\"state\":\"below_horizon\",\"attributes\":{\"elevation\":-9}},\"new_state\":{\"state\":\"below_horizon\",\"attributes\":{\"elevation\":-0.1}}}","payloadType":"json","x":110,"y":740,"wires":[["e69fa8368d95d6c5"]]},{"id":"a934912fbf5110ef","type":"wirenboard-out","z":"ece9031d.299bb","g":"5087fbc05e4696ab","name":"Коридор подсветка пола вкл/выкл","server":"31f20954.c5e1b6","channel":["/devices/wb-mrgbw-d-fw3_153/controls/Channel 2 (R)"],"command":"/on","commandType":"wb_cmd","payload":"payload","payloadType":"msg","x":670,"y":820,"wires":[]},{"id":"cc69940ada0495b0","type":"change","z":"ece9031d.299bb","g":"5087fbc05e4696ab","name":"\"on\" - 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":800,"wires":[["a934912fbf5110ef","71e019ad1d2494a5"]]},{"id":"22f77e455c2585bd","type":"change","z":"ece9031d.299bb","g":"5087fbc05e4696ab","name":"2%","rules":[{"t":"set","p":"payload","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":740,"wires":[["4efedc89be5bccd5","7a4304fcb7c3b071"]]},{"id":"4efedc89be5bccd5","type":"wirenboard-out","z":"ece9031d.299bb","g":"5087fbc05e4696ab","name":"Коридор подсветка пола яркость","server":"31f20954.c5e1b6","channel":["/devices/wb-mrgbw-d-fw3_153/controls/Channel 2 (R) Brightness"],"command":"/on","commandType":"wb_cmd","payload":"payload","payloadType":"msg","x":600,"y":760,"wires":[]},{"id":"70c1e03e09bc4985","type":"change","z":"ece9031d.299bb","g":"5087fbc05e4696ab","name":"\"off\" - 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":840,"wires":[["a934912fbf5110ef","71e019ad1d2494a5"]]},{"id":"7a4304fcb7c3b071","type":"wirenboard-out","z":"ece9031d.299bb","d":true,"g":"5087fbc05e4696ab","name":"Спальня подсветка шторы яркость","server":"31f20954.c5e1b6","channel":["/devices/wb-mdm3_104/controls/Channel 1"],"command":"/on","commandType":"wb_cmd","payload":"payload","payloadType":"msg","x":610,"y":720,"wires":[]},{"id":"71e019ad1d2494a5","type":"wirenboard-out","z":"ece9031d.299bb","d":true,"g":"5087fbc05e4696ab","name":"Спальня подсветка шторы вкл/выкл","server":"31f20954.c5e1b6","channel":["/devices/wb-mdm3_104/controls/K1"],"command":"/on","commandType":"wb_cmd","payload":"payload","payloadType":"msg","x":670,"y":860,"wires":[]},{"id":"5834e64d1ab2425c","type":"change","z":"ece9031d.299bb","d":true,"g":"80dbc2ebd59447d0","name":"1 -> 10%","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"str","to":"10","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1940,"y":880,"wires":[["f6dd79ef3c9546c4"]]},{"id":"6fc9142ec8c4a967","type":"wirenboard-out","z":"ece9031d.299bb","g":"a574d83e59e8ccc0","name":"Коридор подсветка пола вкл/выкл","server":"31f20954.c5e1b6","channel":["/devices/wb-mrgbw-d-fw3_153/controls/Channel 2 (R)"],"command":"/on","commandType":"wb_cmd","payload":"payload","payloadType":"msg","x":740,"y":480,"wires":[]},{"id":"05fe6b6ea39c8d17","type":"comment","z":"ece9031d.299bb","g":"a574d83e59e8ccc0","name":"TODO: overwrite WB schedules","info":"","x":890,"y":360,"wires":[]},{"id":"a2fdd3b585d27f87","type":"wirenboard-out","z":"ece9031d.299bb","g":"a574d83e59e8ccc0","name":"Спальня подсветка шторы вкл/выкл","server":"31f20954.c5e1b6","channel":["/devices/wb-mdm3_104/controls/K1"],"command":"/on","commandType":"wb_cmd","payload":"payload","payloadType":"msg","x":740,"y":520,"wires":[]},{"id":"8d73c363f3af6284","type":"trigger-state","z":"ece9031d.299bb","g":"cd68d82cc1dc3a02","name":"гардероб ДД ","server":"1795236121c47476","version":0,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.0x00124b002512c774_occupancy","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on","propertyValue":"new_state.state"}],"outputs":2,"customoutputs":[],"outputinitially":true,"state_type":"str","x":160,"y":1060,"wires":[["c2a0db3e691cc69e","21a36b0fbe59216e"],["8ef34c4c02872701"]]},{"id":"c2a0db3e691cc69e","type":"api-call-service","z":"ece9031d.299bb","g":"cd68d82cc1dc3a02","name":"Гардероб свет вкл","server":"1795236121c47476","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.svet_garderob","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":430,"y":1000,"wires":[[]]},{"id":"8ef34c4c02872701","type":"delay","z":"ece9031d.299bb","g":"cd68d82cc1dc3a02","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":420,"y":1120,"wires":[["6ee42994dfd94b2d"]]},{"id":"6ee42994dfd94b2d","type":"api-call-service","z":"ece9031d.299bb","g":"cd68d82cc1dc3a02","name":"Гардероб свет выкл","server":"1795236121c47476","version":3,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.svet_garderob","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":440,"y":1200,"wires":[[]]},{"id":"d0ed6fe4dbc8083d","type":"inject","z":"ece9031d.299bb","g":"cd68d82cc1dc3a02","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":980,"wires":[["8d73c363f3af6284"]]},{"id":"7a9974d7b9b7d428","type":"trigger-state","z":"ece9031d.299bb","g":"b35157a26a86c7ef","name":"Кладовая ДД ","server":"1795236121c47476","version":0,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.0x00124b0025127f59_occupancy","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on","propertyValue":"new_state.state"}],"outputs":2,"customoutputs":[],"outputinitially":true,"state_type":"str","x":760,"y":1060,"wires":[["a1bac433523fa244","9d6352de098ebe53"],["e1cebc4fa1e3faa1"]]},{"id":"a1bac433523fa244","type":"api-call-service","z":"ece9031d.299bb","g":"b35157a26a86c7ef","name":"Кладовая свет вкл","server":"1795236121c47476","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.kladovka_svet","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1030,"y":1000,"wires":[[]]},{"id":"e1cebc4fa1e3faa1","type":"delay","z":"ece9031d.299bb","g":"b35157a26a86c7ef","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1020,"y":1120,"wires":[["892fd0407a0b73aa"]]},{"id":"892fd0407a0b73aa","type":"api-call-service","z":"ece9031d.299bb","g":"b35157a26a86c7ef","name":"Кладовая свет выкл","server":"1795236121c47476","version":3,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.kladovka_svet","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1120,"y":1180,"wires":[[]]},{"id":"21bbf77198751372","type":"inject","z":"ece9031d.299bb","g":"b35157a26a86c7ef","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":740,"y":980,"wires":[["7a9974d7b9b7d428"]]},{"id":"ac7721f2151593ae","type":"wirenboard-button","z":"ece9031d.299bb","g":"72e60f5e0c3794d0","name":"Кухня остров","server":"31f20954.c5e1b6","channel":"/devices/wb-gpio/controls/EXT1_IN6","eventTypes":["LongPress","Click","DoubleClick"],"longPressDelay":"300","longPressRange":true,"longpressTimerValueMin":0,"longpressTimerValueMax":100,"longpressTimerValueStep":5,"longpressTimerChangeDelayMs":"400","doubleClickDelay":600,"x":110,"y":1340,"wires":[["0743fc548fdc9db7"]]},{"id":"0743fc548fdc9db7","type":"switch","z":"ece9031d.299bb","g":"72e60f5e0c3794d0","name":"longpress / doubleclick / click","property":"event","propertyType":"msg","rules":[{"t":"eq","v":"longpress","vt":"str"},{"t":"eq","v":"doubleclick","vt":"str"},{"t":"eq","v":"click","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":350,"y":1340,"wires":[["03e98d25b3ff3716"],["dbbae643d8eebca7"],["aadf3d9932e0ba38"]],"outputLabels":["longpress","doubleclick","click"]},{"id":"03e98d25b3ff3716","type":"wirenboard-out","z":"ece9031d.299bb","g":"72e60f5e0c3794d0","name":"Кухня остров","server":"31f20954.c5e1b6","channel":["/devices/wb-mdm3_104/controls/Channel 2"],"command":"/on","commandType":"wb_cmd","payload":"payload","payloadType":"msg","x":640,"y":1300,"wires":[]},{"id":"aadf3d9932e0ba38","type":"wirenboard-get","z":"ece9031d.299bb","g":"72e60f5e0c3794d0","name":"Кухня остров состояние вкл/выкл","server":"31f20954.c5e1b6","channel":["/devices/wb-mdm3_104/controls/K2"],"x":710,"y":1380,"wires":[["34099c48728c950a"]]},{"id":"34099c48728c950a","type":"function","z":"ece9031d.299bb","g":"72e60f5e0c3794d0","name":"Invert","func":"\nif (msg.payload === '1') {\n    msg.payload = '0';\n} else if (msg.payload === '0') {\n    msg.payload = '1';\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":1440,"wires":[["998e26416d93cc56"]]},{"id":"998e26416d93cc56","type":"wirenboard-out","z":"ece9031d.299bb","g":"72e60f5e0c3794d0","name":"Кухня остров вкл/выкл","server":"31f20954.c5e1b6","channel":["/devices/wb-mdm3_104/controls/K2"],"command":"/on","commandType":"wb_cmd","payload":"payload","payloadType":"msg","x":770,"y":1440,"wires":[]},{"id":"9d6352de098ebe53","type":"change","z":"ece9031d.299bb","g":"b35157a26a86c7ef","name":"reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":1060,"wires":[["e1cebc4fa1e3faa1"]]},{"id":"21a36b0fbe59216e","type":"change","z":"ece9031d.299bb","g":"cd68d82cc1dc3a02","name":"reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":1060,"wires":[["8ef34c4c02872701"]]},{"id":"7bcc7652dec8a4fa","type":"api-call-service","z":"ece9031d.299bb","g":"a574d83e59e8ccc0","name":"Кладовка свет выкл","server":"1795236121c47476","version":3,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.kladovka_svet","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":410,"y":520,"wires":[[]]},{"id":"35fcb91d689609fa","type":"wirenboard-out","z":"ece9031d.299bb","g":"a574d83e59e8ccc0","name":"Кухня остров вкл/выкл","server":"31f20954.c5e1b6","channel":["/devices/wb-mdm3_104/controls/K2"],"command":"/on","commandType":"wb_cmd","payload":"payload","payloadType":"msg","x":420,"y":620,"wires":[]},{"id":"dbbae643d8eebca7","type":"wirenboard-get","z":"ece9031d.299bb","g":"72e60f5e0c3794d0","name":"Гостиная верхний свет","server":"31f20954.c5e1b6","channel":["/devices/wb-mr6c_42/controls/K4"],"x":670,"y":1340,"wires":[["1feba6d310170c83"]]},{"id":"1feba6d310170c83","type":"function","z":"ece9031d.299bb","g":"72e60f5e0c3794d0","name":"Invert","func":"\nif (msg.payload === '1') {\n    msg.payload = '0';\n} else if (msg.payload === '0') {\n    msg.payload = '1';\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":850,"y":1340,"wires":[["deb660ac854e061f"]]},{"id":"deb660ac854e061f","type":"wirenboard-out","z":"ece9031d.299bb","g":"72e60f5e0c3794d0","name":"Гостиная верхний свет","server":"31f20954.c5e1b6","channel":["/devices/wb-mr6c_42/controls/K4"],"command":"/on","commandType":"wb_cmd","payload":"payload","payloadType":"msg","x":1030,"y":1340,"wires":[]},{"id":"f4d5b9bcfd480c08","type":"function","z":"ece9031d.299bb","g":"6e866e4b166a14d5","name":"Invert","func":"\nif (msg.payload === '1') {\n    msg.payload = '0';\n} else if (msg.payload === '0') {\n    msg.payload = '1';\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":160,"wires":[["401fb5fad055c009"]]},{"id":"add69d1ad2b5680d","type":"api-call-service","z":"ece9031d.299bb","g":"a574d83e59e8ccc0","name":"ТВ выкл","server":"1795236121c47476","version":3,"debugenabled":false,"service_domain":"media_player","service":"turn_off","entityId":"media_player.lg_webos_smart_tv","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":240,"y":560,"wires":[[]]},{"id":"3a1bbc95d2a4e3b2","type":"inject","z":"9712e98522260239","g":"159cfa54aca87bb8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1600,"y":460,"wires":[["c139e77d17da5f17"]]},{"id":"25d929ca93676b56","type":"http request","z":"9712e98522260239","g":"159cfa54aca87bb8","name":"/api/login","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://vs.domru.ru/api/login","tls":"","persist":false,"proxy":"","authType":"","x":1940,"y":720,"wires":[["1a55ee65a5c1701b"]]},{"id":"91d20d35023fef7f","type":"function","z":"9712e98522260239","g":"159cfa54aca87bb8","name":"headers","func":"msg.headers = {\n    'content-type': 'application/x-www-form-urlencoded',\n}\nnode.warn('logging in');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1920,"y":600,"wires":[["37d9f635d56aa3ab"]]},{"id":"1a55ee65a5c1701b","type":"change","z":"9712e98522260239","g":"159cfa54aca87bb8","name":"","rules":[{"t":"set","p":"domru_SessionID","pt":"flow","to":"payload.SessionID","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2020,"y":780,"wires":[["f15071e6f1893f5d"]]},{"id":"d146cd3a2218b576","type":"function","z":"9712e98522260239","g":"159cfa54aca87bb8","name":"session/camera/format","func":"msg.headers = {\n    'content-type': 'application/x-www-form-urlencoded',\n}\nmsg.payload = {\n    SessionID: flow.get('domru_SessionID'),\n    CameraID: msg.req.params.id,\n    Format: msg.req.params.format,\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2390,"y":680,"wires":[["f1e73a986178941f"]]},{"id":"f1e73a986178941f","type":"http request","z":"9712e98522260239","g":"159cfa54aca87bb8","name":"/api/getTranslationURL","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://vs.domru.ru/api/getTranslationURL","tls":"","persist":false,"proxy":"","authType":"","x":2400,"y":600,"wires":[["23e5e753d3d359ab"]]},{"id":"23e5e753d3d359ab","type":"switch","z":"9712e98522260239","g":"159cfa54aca87bb8","name":"error handler - session expired","property":"payload","propertyType":"msg","rules":[{"t":"hask","v":"URL","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":2430,"y":480,"wires":[["e55a17a08b7b25d1"],["5b7a5d1e0bfac898"]]},{"id":"94885386ebd8e84c","type":"http request","z":"9712e98522260239","g":"159cfa54aca87bb8","name":"get image","method":"GET","ret":"bin","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":2480,"y":160,"wires":[["f307a98eb00db5c5"]]},{"id":"5b7a5d1e0bfac898","type":"function","z":"9712e98522260239","g":"159cfa54aca87bb8","name":"set login errors count","func":"flow.set('domru_login_errors_count', ~~(flow.get('domru_login_errors_count') || 0) + 1);\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2740,"y":540,"wires":[["9b078bfc7db374c7"]]},{"id":"f9968289103e85cf","type":"switch","z":"9712e98522260239","g":"159cfa54aca87bb8","name":"ограничение на кол-во повторов логина","property":"domru_login_errors_count","propertyType":"flow","rules":[{"t":"lt","v":"3","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":2790,"y":740,"wires":[["0f2f05482a357d34"],["0bcd2fd8168cf96e"]]},{"id":"9b078bfc7db374c7","type":"change","z":"9712e98522260239","g":"159cfa54aca87bb8","name":"delete SessionID","rules":[{"t":"delete","p":"domru_SessionID","pt":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":2730,"y":620,"wires":[["f9968289103e85cf"]]},{"id":"31cfd2361ad288a3","type":"http in","z":"9712e98522260239","g":"159cfa54aca87bb8","name":"/cam/:id/:format","url":"/cam/:id/:format","method":"get","upload":false,"swaggerDoc":"","x":1620,"y":300,"wires":[["03fac0354c40a06f"]]},{"id":"1381181fb5cd8548","type":"http response","z":"9712e98522260239","g":"159cfa54aca87bb8","name":"response image","statusCode":"","headers":{"content-type":"image/jpeg"},"x":2880,"y":120,"wires":[]},{"id":"0bcd2fd8168cf96e","type":"http response","z":"9712e98522260239","g":"159cfa54aca87bb8","name":"response auth error","statusCode":"","headers":{},"x":2950,"y":820,"wires":[]},{"id":"e55a17a08b7b25d1","type":"function","z":"9712e98522260239","g":"159cfa54aca87bb8","name":"save cam url in flow context","func":"msg.url = msg.payload.URL;\nmsg.payload = null;\nflow.set(`domru_cam_${msg.req.params.id}_${msg.req.params.format}_url`, msg.url);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2440,"y":380,"wires":[["79fd7f80cba7266a"]]},{"id":"03fac0354c40a06f","type":"function","z":"9712e98522260239","g":"159cfa54aca87bb8","name":"check url already saved","func":"const url = flow.get(`domru_cam_${msg.req.params.id}_${msg.req.params.format}_url`);\n\nif (url) {\n    msg.url = url;\n    msg.payload = null;\n    return [msg, null];\n} else {\n    return [null, msg];\n}\n","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1870,"y":340,"wires":[["79fd7f80cba7266a"],["c139e77d17da5f17"]],"outputLabels":["yes","no"]},{"id":"f307a98eb00db5c5","type":"function","z":"9712e98522260239","g":"159cfa54aca87bb8","name":"check error","func":"msg.url = undefined;\n\nif (msg.statusCode === 'ECONNRESET') {\n    flow.set(`domru_cam_${msg.req.params.id}_${msg.req.params.format}_url`, undefined);\n    return [null, msg];\n} else {\n    flow.set('domru_login_errors_count', undefined);\n    return [msg, null];\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2670,"y":160,"wires":[["1381181fb5cd8548"],["f847d731f04f15bc"]],"outputLabels":["image","error"]},{"id":"bdbf74f9920b321c","type":"credentials","z":"9712e98522260239","g":"159cfa54aca87bb8","name":"login/password","props":[{"value":"payload.Login","type":"msg"},{"value":"payload.Password","type":"msg"}],"x":1900,"y":520,"wires":[["91d20d35023fef7f"]]},{"id":"34c94c93e4919c66","type":"function","z":"9712e98522260239","g":"159cfa54aca87bb8","name":"check domru_SessionID existance","func":"if (flow.get('domru_SessionID')) {\n    return [msg, null];\n} else {\n    return [null, msg];\n}\n","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2000,"y":440,"wires":[["d146cd3a2218b576"],["bdbf74f9920b321c"]],"outputLabels":["exists","not exists"]},{"id":"0f2f05482a357d34","type":"link out","z":"9712e98522260239","g":"159cfa54aca87bb8","name":"login again","links":["93a68091163d8217"],"x":3110,"y":720,"wires":[],"l":true},{"id":"93a68091163d8217","type":"link in","z":"9712e98522260239","g":"159cfa54aca87bb8","name":"login again","links":["0f2f05482a357d34"],"x":1700,"y":540,"wires":[["bdbf74f9920b321c"]],"l":true},{"id":"f847d731f04f15bc","type":"link out","z":"9712e98522260239","g":"159cfa54aca87bb8","name":"check session","links":["ebe14cfb69a57eb9"],"x":2880,"y":220,"wires":[],"l":true},{"id":"ebe14cfb69a57eb9","type":"link in","z":"9712e98522260239","g":"159cfa54aca87bb8","name":"check session","links":["f847d731f04f15bc"],"x":1590,"y":400,"wires":[["c139e77d17da5f17"]],"l":true},{"id":"79fd7f80cba7266a","type":"switch","z":"9712e98522260239","g":"159cfa54aca87bb8","name":"image/video","property":"req.params.format","propertyType":"msg","rules":[{"t":"eq","v":"JPG","vt":"str"},{"t":"eq","v":"H264","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":2310,"y":220,"wires":[["94885386ebd8e84c"],["78d31acf9a76ddd6"]]},{"id":"a45ff1266d8b09ba","type":"http-proxy","z":"9712e98522260239","g":"159cfa54aca87bb8","name":"proxy video","url":"","incomingTimeout":0,"outgoingTimeout":0,"changeOrigin":false,"preserveHeaderKeyCase":false,"verifyCertificates":false,"followRedirects":false,"toProxy":false,"xfwd":false,"x":2790,"y":320,"wires":[]},{"id":"78d31acf9a76ddd6","type":"function","z":"9712e98522260239","g":"159cfa54aca87bb8","name":"remove video url from context","func":"\nflow.set(`domru_cam_${msg.req.params.id}_${msg.req.params.format}_url`, undefined);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2570,"y":260,"wires":[["a45ff1266d8b09ba"]]},{"id":"37d9f635d56aa3ab","type":"change","z":"9712e98522260239","g":"159cfa54aca87bb8","name":"lock","rules":[{"t":"set","p":"domru_lock_login","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1920,"y":660,"wires":[["25d929ca93676b56"]]},{"id":"f15071e6f1893f5d","type":"change","z":"9712e98522260239","g":"159cfa54aca87bb8","name":"unlock","rules":[{"t":"set","p":"domru_lock_login","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2210,"y":720,"wires":[["d146cd3a2218b576"]]},{"id":"c139e77d17da5f17","type":"function","z":"9712e98522260239","g":"159cfa54aca87bb8","name":"queue","func":"if (flow.get('domru_lock_login') === true) {\n    const queue = context.get('queue') || [];\n\n    queue.push(RED.util.cloneMessage(msg));\n    context.set('queue', queue);\n    node.debug(`queue length == ${queue.length}`);\n\n    node.debug(`domru_lock_login locked`);\n    if (context.get('lock') === true) {\n        node.debug(`node locked`);\n        // another instance is running. just queue and exit\n        return;\n    }\n    \n    context.set('lock', true);\n    \n    const interval = setInterval(() => {\n        if (flow.get('domru_lock_login') === false) {\n            node.debug(`domru_lock_login unlocked`);\n            clearInterval(interval);\n            context.set('interval', undefined);\n            let message;\n            const queue = context.get('queue') || [];\n            node.debug(`sending. queue length == ${queue.length}`);\n            while (message = queue.shift()) {\n                node.send(message);\n            }\n            node.done();\n            node.debug(`sending done. queue length == ${queue.length}`);\n            context.set('lock', false);\n        }\n    }, 1000);\n    \n    context.set('interval', interval);\n    \n    return;\n} else {\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"// Добавленный здесь код будет исполняться при\n// остановке узла или повторном развертывании.\nif (context.get('interval')) {\n    clearInterval(context.get('interval'));\n    context.set('interval', undefined);\n}\n","libs":[],"x":1790,"y":440,"wires":[["34c94c93e4919c66"]]},{"id":"c7393e379aae134d","type":"server-state-changed","z":"9712e98522260239","g":"88165d6fb070606a","name":"Входная дверь","server":"1795236121c47476","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.0x158d000689f052_contact","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":210,"y":1260,"wires":[["e4fa55a3d10b9dc7"],[]]},{"id":"acec90c1eef6b664","type":"debug","z":"9712e98522260239","g":"88165d6fb070606a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":610,"y":1040,"wires":[]},{"id":"e4fa55a3d10b9dc7","type":"api-current-state","z":"9712e98522260239","g":"88165d6fb070606a","name":"Сигнализация","server":"1795236121c47476","version":2,"outputs":2,"halt_if":"armed_home, armed_away","halt_if_type":"str","halt_if_compare":"includes","entity_id":"alarm_control_panel.home_alarm","state_type":"str","blockInputOverrides":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":260,"y":1180,"wires":[["b7fe9e87a2aeaee2"],[]]},{"id":"b7fe9e87a2aeaee2","type":"api-call-service","z":"9712e98522260239","d":true,"g":"88165d6fb070606a","name":"Сказать Алисой","server":"1795236121c47476","version":3,"debugenabled":true,"service_domain":"script","service":"say_by_alice","entityId":"","data":"{\"message\":\"Внимание! Дверь открылась при включенной сигнализации\"}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":510,"y":1080,"wires":[["acec90c1eef6b664"]]},{"id":"36af4c2241318197","type":"server-state-changed","z":"9712e98522260239","g":"88165d6fb070606a","name":"Сигнализация","server":"1795236121c47476","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"alarm_control_panel.home_alarm","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"armed_home, armed_away","halt_if_type":"str","halt_if_compare":"includes","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":440,"y":1260,"wires":[["fb2057a5246c8007"],[]]},{"id":"fb2057a5246c8007","type":"api-current-state","z":"9712e98522260239","g":"88165d6fb070606a","name":"Входная дверь","server":"1795236121c47476","version":2,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.0x158d000689f052_contact","state_type":"str","blockInputOverrides":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":480,"y":1180,"wires":[["b7fe9e87a2aeaee2"],[]]},{"id":"4461dfca73dd34e4","type":"debug","z":"9712e98522260239","g":"159cfa54aca87bb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1870,"y":220,"wires":[]},{"id":"c0394858f7f3c30b","type":"catch","z":"9712e98522260239","g":"159cfa54aca87bb8","name":"","scope":["a45ff1266d8b09ba"],"uncaught":false,"x":1680,"y":220,"wires":[["4461dfca73dd34e4"]]},{"id":"195f64f41b055626","type":"server-state-changed","z":"9712e98522260239","g":"467ded538a82c1c3","name":"Дверь холодильника открыта 60 сек","server":"1795236121c47476","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.0x00158d000689f052_contact","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"60","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":230,"y":100,"wires":[["3361c5143ad0e6d9"],["3361c5143ad0e6d9"]]},{"id":"736fe4fc245ad371","type":"wirenboard-out","z":"9712e98522260239","g":"467ded538a82c1c3","name":"Сигнализация холодильника","server":"31f20954.c5e1b6","channel":["/devices/alarm_fridge/controls/enabled"],"command":"/on","commandType":"wb_cmd","payload":"payload","payloadType":"msg","x":740,"y":220,"wires":[]},{"id":"b1ef300c471d5771","type":"inject","z":"9712e98522260239","g":"467ded538a82c1c3","name":"1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"str","x":310,"y":240,"wires":[["736fe4fc245ad371"]]},{"id":"3361c5143ad0e6d9","type":"change","z":"9712e98522260239","g":"467ded538a82c1c3","name":"on -> 1, off -> 0","rules":[{"t":"change","p":"payload","pt":"msg","from":"on","fromt":"str","to":"1","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"off","fromt":"str","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":100,"wires":[["736fe4fc245ad371"]]},{"id":"065eb7a4618fcb55","type":"inject","z":"9712e98522260239","g":"467ded538a82c1c3","name":"0","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"str","x":310,"y":180,"wires":[["736fe4fc245ad371"]]},{"id":"7a798691.3b34e8","type":"hb-event","z":"5975f094.53932","name":"node-red-light","Homebridge":"node-red","Manufacturer":"NRCHKB","Service":"Lightbulb","device":"node-red9F:42:1A:E3:53:21NRCHKBnode-red-light00000043","conf":"11b32c1b.ed26f4","x":130,"y":380,"wires":[[]]},{"id":"2a0b2212.e47fee","type":"hb-control","z":"5975f094.53932","name":"node-red-light","Homebridge":"node-red","Manufacturer":"NRCHKB","Service":"Lightbulb","device":"node-red9F:42:1A:E3:53:21NRCHKBnode-red-light00000043","conf":"11b32c1b.ed26f4","outputs":0,"x":700,"y":380,"wires":[]},{"id":"5f5b961e.f2d9b8","type":"function","z":"5975f094.53932","name":"toggle","func":"msg.payload.On = !msg.payload.On;\nreturn {payload: {On: msg.payload.On, Brightness: msg.payload.Brightness}};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":320,"wires":[["2a0b2212.e47fee"]]},{"id":"febb04.e6ec45","type":"inject","z":"5975f094.53932","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":280,"wires":[["a4237ff6.43751"]]},{"id":"a4237ff6.43751","type":"hb-status","z":"5975f094.53932","name":"node-red-light","Homebridge":"node-red","Manufacturer":"NRCHKB","Service":"Lightbulb","device":"node-red9F:42:1A:E3:53:21NRCHKBnode-red-light00000043","conf":"11b32c1b.ed26f4","x":320,"y":280,"wires":[["5f5b961e.f2d9b8"]]},{"id":"dd696cf3.8c8b1","type":"hb-control","z":"5975f094.53932","name":"node-red-light","Homebridge":"node-red","Manufacturer":"NRCHKB","Service":"Lightbulb","device":"node-red9F:42:1A:E3:53:21NRCHKBnode-red-light00000043","conf":"11b32c1b.ed26f4","outputs":0,"x":820,"y":540,"wires":[]},{"id":"e2d49137.5aa8b","type":"inject","z":"5975f094.53932","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":540,"wires":[["f7bbc62.7d40c38"]]},{"id":"f7bbc62.7d40c38","type":"hb-status","z":"5975f094.53932","name":"node-red-light","Homebridge":"node-red","Manufacturer":"NRCHKB","Service":"Lightbulb","device":"node-red9F:42:1A:E3:53:21NRCHKBnode-red-light00000043","conf":"11b32c1b.ed26f4","x":380,"y":540,"wires":[["c2ba6c5e.67b54"]]},{"id":"c2ba6c5e.67b54","type":"function","z":"5975f094.53932","name":"toggle","func":"msg.payload.On = !msg.payload.On;\nreturn {payload: {On: msg.payload.On}};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":540,"wires":[["dd696cf3.8c8b1"]]},{"id":"3c9f8969.287166","type":"homekit-service","z":"5975f094.53932","g":"4a172910.632898","isParent":true,"bridge":"9f421ae3.532178","parentService":"","name":"node-red-light","serviceName":"Lightbulb","topic":"","filter":false,"manufacturer":"NRCHKB","model":"1.2.0","serialNo":"Default Serial Number","firmwareRev":"1.2.0","hardwareRev":"1.2.0","softwareRev":"1.2.0","cameraConfigVideoProcessor":"ffmpeg","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":2,"cameraConfigMaxWidth":1280,"cameraConfigMaxHeight":720,"cameraConfigMaxFPS":10,"cameraConfigMaxBitrate":300,"cameraConfigVideoCodec":"libx264","cameraConfigAudioCodec":"libfdk_aac","cameraConfigAudio":false,"cameraConfigPacketSize":1316,"cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"0:0","cameraConfigMapAudio":"0:1","cameraConfigVideoFilter":"scale=1280:720","cameraConfigAdditionalCommandLine":"-tune zerolatency","cameraConfigDebug":false,"cameraConfigSnapshotOutput":"disabled","cameraConfigInterfaceName":"","characteristicProperties":"{}","waitForSetupMsg":false,"outputs":2,"x":1080,"y":160,"wires":[["2cd836b5.7482fa"],[]]},{"id":"2cd836b5.7482fa","type":"debug","z":"5975f094.53932","g":"4a172910.632898","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1250,"y":160,"wires":[]},{"id":"f6dce9cd.3fdf88","type":"inject","z":"5975f094.53932","g":"4a172910.632898","name":"On","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"On\":true}","payloadType":"json","x":890,"y":180,"wires":[["3c9f8969.287166"]]},{"id":"7a5acd41.42a334","type":"inject","z":"5975f094.53932","g":"4a172910.632898","name":"off","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"On\":false}","payloadType":"json","x":890,"y":140,"wires":[["3c9f8969.287166"]]},{"id":"8d4c66871b40c32c","type":"debug","z":"5975f094.53932","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":660,"wires":[]},{"id":"6c3e477e9e21d3e7","type":"homekit-service","z":"5975f094.53932","d":true,"isParent":true,"bridge":"9f421ae3.532178","parentService":"","name":"Подсветка в гостинной","serviceName":"Lightbulb","topic":"","filter":false,"manufacturer":"NRCHKB","model":"1.2.0","serialNo":"Default Serial Number","firmwareRev":"1.2.0","hardwareRev":"1.2.0","softwareRev":"1.2.0","cameraConfigVideoProcessor":"ffmpeg","cameraConfigSource":"","cameraConfigStillImageSource":"","cameraConfigMaxStreams":2,"cameraConfigMaxWidth":1280,"cameraConfigMaxHeight":720,"cameraConfigMaxFPS":10,"cameraConfigMaxBitrate":300,"cameraConfigVideoCodec":"libx264","cameraConfigAudioCodec":"libfdk_aac","cameraConfigAudio":false,"cameraConfigPacketSize":1316,"cameraConfigVerticalFlip":false,"cameraConfigHorizontalFlip":false,"cameraConfigMapVideo":"0:0","cameraConfigMapAudio":"0:1","cameraConfigVideoFilter":"scale=1280:720","cameraConfigAdditionalCommandLine":"-tune zerolatency","cameraConfigDebug":false,"cameraConfigSnapshotOutput":"disabled","cameraConfigInterfaceName":"","characteristicProperties":"{\"Brightness\": true}","waitForSetupMsg":false,"outputs":2,"x":550,"y":780,"wires":[["8d4c66871b40c32c"],["4b4c40a845f260a0"]]},{"id":"c82eec620d0bab3b","type":"wirenboard-out","z":"5975f094.53932","name":"","server":"31f20954.c5e1b6","channel":["/devices/wb-mdm3_104/controls/K3"],"command":"/on","commandType":"wb_cmd","payload":"payload","payloadType":"msg","x":980,"y":780,"wires":[]},{"id":"5639285b06f01682","type":"inject","z":"5975f094.53932","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"Brightness\":10}","payloadType":"json","x":210,"y":800,"wires":[["6c3e477e9e21d3e7"]]},{"id":"4b4c40a845f260a0","type":"function","z":"5975f094.53932","name":"","func":"var out = [null, null];\n\nif ('On' in msg.payload) {\n    var on = msg.payload.On ? 1 : 0;\n    out[0] = {payload: on};\n}\nif ('Brightness' in msg.payload) {\n    out[1] = {payload: msg.payload.Brightness};\n}\n\nreturn out;","outputs":2,"noerr":0,"initialize":"","finalize":"","x":700,"y":880,"wires":[["c82eec620d0bab3b","623e1c1890805e86"],["4dd3629a33844720","ac60b1af4ea78759"]]},{"id":"4dd3629a33844720","type":"wirenboard-out","z":"5975f094.53932","name":"","server":"31f20954.c5e1b6","channel":["/devices/wb-mdm3_104/controls/Channel 3"],"command":"/on","commandType":"wb_cmd","payload":"payload","payloadType":"msg","x":1070,"y":840,"wires":[]},{"id":"623e1c1890805e86","type":"debug","z":"5975f094.53932","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":970,"y":960,"wires":[]},{"id":"ac60b1af4ea78759","type":"debug","z":"5975f094.53932","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":1060,"wires":[]},{"id":"627920d5c6a2652a","type":"wirenboard-in","z":"5975f094.53932","d":true,"name":"","server":"31f20954.c5e1b6","channel":["/devices/wb-mdm3_104/controls/Channel 3","/devices/wb-mdm3_104/controls/K3","/devices/wb-mdm3_104/controls/K3"],"outputAtStartup":false,"x":140,"y":920,"wires":[["de43db4d062733d4"]]},{"id":"3bc06b589ff0b244","type":"debug","z":"5975f094.53932","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":500,"y":980,"wires":[]},{"id":"de43db4d062733d4","type":"function","z":"5975f094.53932","name":"","func":"var keys = Object.keys(msg.payload);\nvar pauload = {};\nfor (var i = 0; i < keys.length; i++) {\n    if (keys[i].match(/Channel\\s\\d*$/)) {\n        pauload.Brightness = msg.payload[keys[i]];\n    } else if (keys[i].match(/K\\d*$/)) {\n        pauload.On = msg.payload[keys[i]];\n    }\n}\nmsg.payload = pauload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":900,"wires":[["6c3e477e9e21d3e7","3bc06b589ff0b244"]]}]